@font-face {
    font-family: font1;
    src: url(../../Fonts/NatureBeautyPersonalUse-9Y2DK.ttf);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #788402;
    color: white;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    margin-right: 10px;
  }
  
  .brand-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
    gap: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #45a049;
  }
  
  .logout {
    background-color: white;
    color: #4CAF50;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout:hover {
    background-color: #45a049;
    color: white;
  }
  